@import url("./normalize/normalize.css");
@import url("./header.css");
@import url("./button.css");
@import url("./media/media1087.css");
@import url("./media/media991.css");
@import url("./media/media767.css");
@import url("./mainBlock/getStartedBlock.css");

body {
  font-family: Rubik;
  font-size: 12px;
  color: #616161;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
  margin-top: 80px;
}

[class*="__container"] {
  max-width: 1087px;
  margin: 0px auto;
  padding: 0px 15px;
}

/*this is block-title span color*/
.textRed {
  color: #ec5863;
}

.textBlue {
  color: #5688d8;
}
